* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    text-decoration: none;
    color: #fff;
}

#acoes-usuario a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

img {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1.titulo-secao {
    text-align: center; 
    font-size: 50px;
}
section, h1, img, p {
    padding: 10px;
}
p {
    text-align: justify;  
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer h2 {
    font-size: 24px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}
